.App {
  text-align: center;
}
.storeList {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  box-sizing: border-box;
  width: 80%;
  text-align: center;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

.btnList {
  color: #fff !important;
  text-decoration: none;
  background: #fa923f;
  padding: 20px;
  margin: 0px 30px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.btnList:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2% 10%;
}

.userList {
  width: 130px;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  margin: 16px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: block;
}

.userList:hover,
.userList:active {
  background-color: #eee;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 72px;
  padding: 20px;
}
